* { 
	outline: none; 
	padding: 0;
	margin: 0; 
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:after, *:before { 
	content: none;
	padding: 0;
	margin: 0; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border-collapse: separate;
	border-spacing: 0;
	text-decoration: none;
}	
html, body { padding: 0; margin: 0; height: 100%; width: 100%; }

footer, hgroup, menu, nav, section {
	display: table;
	width: 100%;
}
article, aside, figure, header {
	display: block;	
}

h1, h2, h3, h4 { font-size: 1em; clear: both; font-weight: 300; }

ul, ol { list-style: none; display: block; padding: 0; margin: 0; }

img { max-width: 100%; height: auto; width: auto; border: 0; margin: 0; padding: 0; }
iframe { max-width: 100%; overflow: hidden; }



/* Base */
body {
	font-family: 'Inter', sans-serif !important;
	font-weight: 300;
	font-size: 17px;
	line-height: 26px;
	color: #333;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	background-color: #ffffff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-tap-highlight-color: #333;
}

a { position: relative; color: #333; white-space: nowrap; }
a:not(.logo):not(.current):hover { color: #333; border-bottom: 1px solid #333; }

p {
	margin: 0 0 40px 0;
	padding: 0;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
}
p img { margin: 0; padding: 0; }
p:last-child { margin-bottom: 0; }

ul { 
	list-style-type: none;
	list-style-position: outside;
	margin: 0 0 20px 0;
}
ul li { 
	margin-bottom: 12px;
}

body { zoom: 1; width: 900px; position: relative; text-align: center; padding: 80px 0 0 0; margin: 0 auto 0 auto; }

body header h1 { 
	text-align: center !important;
	font-size: 3.2em;
	font-family: 'filson-soft', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 70px;
}
body header nav { margin-bottom: 80px; }
body header nav ul { list-style-type: none; text-align: center !important; }
body header nav ul li { display: inline-block; margin: 0 40px 0 40px; border-bottom: none; font-weight: 400; font-size: 1.2em; }
body header nav ul li a { color: #333333; padding: 4px 0 4px 0; }
body header nav ul li a.current { color: #333333; border-bottom: 1px solid #333333; }
body header nav ul li a.current:hover { color: #333333; }

body main article section.row { zoom: 1; width: 100%; margin: 0; position: relative; }
body main article section.row:before, body main article section.row:after { content: none; display: table; border: 0; padding: 0; margin: 0 }
body main article section.row:after { clear: both; }

body main article section.row [class*='col-'] { display: block; float: left; margin: 0 1% 0 0; }
body main article section.row [class*='col-']:last-child { margin-right: 0; }

body main article section.row .col-1-2 { width: 49.5%; }

body main article section.row .col-1-3 { width: 32.667%; }
body main article section.row .col-2-3 { width: 66.333%; }

body main article section.row .col-1-4 { width: 23.5%; }
body main article section.row .col-2-4 { width: 49%; }
body main article section.row .col-3-4 { width: 4.5%; }

body main.home article.intro { display: block; padding-bottom: 100px; } 
body main.home h2 { font-weight: 400; font-size: 48px; line-height: 62px; padding: 20px 0 20px 0; }

body main.about article.intro { border-bottom: 1px solid #e6e6e6; padding-bottom: 80px; margin-bottom: 100px; }
body main.about article.links { margin-bottom: 100px; }
body main.about article.services { margin-bottom: 20px; }
body main.about h2 { font-weight: 500; font-size: 40px; line-height: 56px; margin: 0 0 50px 0; }
body main.about h3 { font-weight: 500; font-size: 32px; line-height: 24px; margin: 0 0 30px 0; }
body main.about p { font-size: 34px; line-height: 48px; }
body main.about a { border-bottom: 1px solid #333; padding-bottom: 1px; }
body main.about a.hidden { border-bottom: none; }
body main.about a:hover { border-bottom: 1px solid #333; }

body main article.collection { margin-bottom: 160px; border-top: 1px solid #e6e6e6; } 
body main article.collection:last-child { margin-bottom: 0; } 

body main article.project header { margin-bottom: 26px; text-align: center; padding: 40px 140px 0 140px; }
body main article.project header h3 { font-size: 1em; font-weight: 500; padding-bottom: 8px; }
body main article.project header p { color: #333333; }

body main article.project section.row figure[data-type='image'] { width: 100%; max-width: 100%; border: none; padding: 0; margin: 0; }

body main article.project section.row figure[data-type='embed'] { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 6px; }
body main article.project section.row figure[data-type='embed'] iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

body main article.project section.row figcaption { margin-bottom: 26px; width: 100%; padding: 0 100px 0 100px; }
body main article.project section.row figcaption p { font-size: 0.8em; line-height: 1.4em; text-align: center; display: block; color: #333333; }


footer { margin: 70px 0 0 0; padding: 30px 50px 40px 50px; text-align: center; border-top: 1px solid #e6e6e6; }
footer p { font-size: 0.8em; line-height: 1.8em; margin-bottom: 8px }
footer p.small { font-size: 0.6em; line-height: 1.8em; }
footer img { display: block; margin: auto; width: 32px; height: 32px; margin-top: 26px; }




/* Large Tablets */
@media only screen and (min-width: 1024px) and (max-width: 1400px)
{
	#body { width: 100%; padding: 50px 100px 0 100px; }
	#body.home { width: 100%; }
	#body { width: 100%; }

	.project .item { margin-bottom: 10px; }
	.project .item .caption p { text-align: center; }
	.project .item[data-type='copy'] { margin: 90px 0 20px 0; padding: 0 20px 0 20px; }
	
	#footer { padding: 20px; }
}



/* Small Tablets */
@media only screen and (min-width: 769px) and (max-width: 1023px)
{
	.row [class*='col-']:not(.fixed) {
		width: 100% !important; 
		margin-right: 0 !important;
		clear: both !important; 
	}

	#body { width: 100%; padding: 50px 100px 0 100px; }
	#body.home { width: 100%; }
	#body { width: 100%; }

	.project .item { margin-bottom: 10px; }
	.project .item .caption { margin-top: 3px; margin-bottom: 15px; padding: 0 30px 0 30px; }
	.project .item .caption p { text-align: center; }
	.project .item[data-type='copy'] { margin: 90px 0 20px 0; padding: 0 20px 0 20px; }
}



/* Phones */
@media only screen and (max-width: 768px)
{	
	body { width: 100%; margin: 0; padding: 55px 0 0 0; font-size: 16px; line-height: 23px; }

	body p { margin: 0 0 25px 0; padding: 0; word-wrap: break-word; }

	body header h1 { font-size: 2.8em; margin-bottom: 50px; }
	body header nav { margin-bottom: 30px; }
	body header nav ul li { margin: 0 15px 0 15px; font-weight: 400; font-size: 1em; }

	body main.home { width: 100%; }
	body main.home article.intro { padding-bottom: 20px; } 
	body main.home h2 { font-size: 30px; line-height: 40px; margin: 10px 0 30px 0; padding: 0 20px 0 20px }

	body main.about { width: 100%; }
	body main.about article.intro { border-bottom: 1px solid #e6e6e6; padding-bottom: 60px; margin-bottom: 40px; }
	body main.about article.links { margin-bottom: 50px; }
	body main.about article.services { margin-bottom: 20px; }
	body main.about h2 { font-size: 30px; margin: 0 0 20px 0; }
	body main.about h3 { font-size: 22px; margin: 20px 0 20px 0; }
	body main.about p { font-size: 22px; line-height: 30px; padding: 0 20px 0 20px; }

	body main article section.row [class*='col-']:not(.fixed) { width: 100%; margin-right: 0; clear: both; }

	body main article.collection { margin-bottom: 60px; border-top: 1px solid #e6e6e6; } 
	body main article.collection:last-child { margin-bottom: 0; } 
	
	body main article.project section.row { margin-bottom: 0; } 

	body main article.project header { margin-bottom: 20px; padding-left: 12px; padding-right: 12px; }

	body main article.project section.row figcaption { margin-top: 3px; margin-bottom: 15px; padding: 0 30px 0 30px; }
	body main article.project section.row figcaption p { text-align: center; }

	footer { margin-top: 40px; padding: 20px 0 30px 0px; }
}